*,*::before,*::after{

    
}
body {
    margin: 0;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px); 
    gap: 10px;
}
